*{
  background-color: lightblue;
  style= "font-family:courier;"
}

div {
  margin-top: 25px;
  margin-left: 20px;
  border-style: dotted;
  border-color: white;
  margin-right: 20px;


}

#train{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
}

#top {
  font-size: 45px;
  margin-right: 20px;
}

#places{
  margin-left: 20px;
  margin-right: 20px;
}

#save{
  margin-left: 20px;
  margin-right: 20px;
}

#zoos{
  margin-left: 20px;
  list-style-position: inside;
  margin-right: 20px;
  font-size: 20px;
}
#drop{
  margin-left: 20px;
  margin-right: 20px;
}

#places{
  font-size: 20px;
}

#facts{
  font-size: 20px;
}

#resources{
  font-size: 20px;
}
